@using System.Net.Mime
@using System.Web.UI.WebControls
@using FootballLeague.Controllers
@using FootballLeague.Domain.Entities
@using GridMvc.Html
@model IQueryable<FootballLeague.Domain.Entities.Club>

@{
    ViewBag.Title = "Lista klubów";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<h3>Tabela</h3>
<div class="container">
@{
    try
    {
        @Html.Grid(Model).Columns(columns =>
        {

            columns.Add(club => club.Name).Titled("Nazwa").Filterable(true).Encoded(false).Sanitized(false)
                .RenderValueAs(club => Html.ActionLink(club.Name, "Details", "Club", new { Name = club.Name }, new { style = "text-decoration:none" }));
            columns.Add(club => club.Points).Titled("Pkt");
            columns.Add(club => club.Played).Titled("M");
            columns.Add(club => club.Won).Titled("Z");
            columns.Add(club => club.Drawn).Titled("R");
            columns.Add(club => club.Lost).Titled("P");
            columns.Add(club => club.GoalsFor).Titled("B+");
            columns.Add(club => club.GoalsAgainst).Titled("B-");

        }).Sortable(true)
    }
    catch
    {
    }
}

    </div>

